<h1 class="title">Sign up</h1>
<div class="over" *ngIf="loading">
    <img width="150" src="https://lux.loli.net/2020/09/09/DIZAIN-BEZ-NAZVANIY-41053f980ab35979c0.png">
</div>
<form style="padding: 0 50px; overflow-y: scroll; height: 60vh; margin-top: 40px;">
    <mat-form-field color="primary">
        <mat-label>Display name</mat-label>
        <input matInput [(ngModel)]="displayname" type="text" name="name">
    </mat-form-field>
    <mat-form-field color="primary">
        <mat-label>Photo URL</mat-label>
        <input matInput [(ngModel)]="photourl" type="url" name="photourl">
    </mat-form-field>
    <mat-form-field color="primary">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" type="email" name="email">
    </mat-form-field>
    <mat-form-field color="primary">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" type="password" name="password">
    </mat-form-field>
    <p routerLink="/signin" mat-raised-button>Already registered?</p>
    <button mat-raised-button (click)="createAccountGoogle()" style="margin-right: 15px;">
        <svg id="google" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px" y="0px"
             height="20"
             width="20"
             viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<path style="fill:#FBBB00;" d="M113.47,309.408L95.648,375.94l-65.139,1.378C11.042,341.211,0,299.9,0,256
	c0-42.451,10.324-82.483,28.624-117.732h0.014l57.992,10.632l25.404,57.644c-5.317,15.501-8.215,32.141-8.215,49.456
	C103.821,274.792,107.225,292.797,113.47,309.408z"/>
            <path style="fill:#518EF8;" d="M507.527,208.176C510.467,223.662,512,239.655,512,256c0,18.328-1.927,36.206-5.598,53.451
	c-12.462,58.683-45.025,109.925-90.134,146.187l-0.014-0.014l-73.044-3.727l-10.338-64.535
	c29.932-17.554,53.324-45.025,65.646-77.911h-136.89V208.176h138.887L507.527,208.176L507.527,208.176z"/>
            <path style="fill:#28B446;" d="M416.253,455.624l0.014,0.014C372.396,490.901,316.666,512,256,512
	c-97.491,0-182.252-54.491-225.491-134.681l82.961-67.91c21.619,57.698,77.278,98.771,142.53,98.771
	c28.047,0,54.323-7.582,76.87-20.818L416.253,455.624z"/>
            <path style="fill:#F14336;" d="M419.404,58.936l-82.933,67.896c-23.335-14.586-50.919-23.012-80.471-23.012
	c-66.729,0-123.429,42.957-143.965,102.724l-83.397-68.276h-0.014C71.23,56.123,157.06,0,256,0
	C318.115,0,375.068,22.126,419.404,58.936z"/>
            <g>
</g>
            <g>
</g>
            <g>
</g>
            <g>
</g>
            <g>
</g>
            <g>
</g>
            <g>
</g>
            <g>
</g>
            <g>
</g>
            <g>
</g>
            <g>
</g>
            <g>
</g>
            <g>
</g>
            <g>
</g>
            <g>
</g>
</svg>

    </button>
    <button mat-raised-button (click)="createAccountFB()" style="margin-right: 15px;">
        <svg height="20" width="20" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" version="1.1" viewBox="0 0 187 187" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><style type="text/css">
   .fil1 {fill:#FEFEFE}
   .fil0 {fill:#485992}
  </style></defs><g id="Layer_x0020_1"><rect class="fil0" height="187" rx="18" ry="18" width="187"/><path class="fil1" d="M131 79l0 -12c0,-6 4,-7 6,-7 3,0 18,0 18,0l0 -27 -24 0c-27,0 -33,20 -33,32l0 14 -15 0 0 19 0 12 16 0c0,35 0,77 0,77l30 0c0,0 0,-42 0,-77l23 0 1 -12 2 -19 -24 0z"/></g></svg>

    </button>
    <button mat-raised-button color="primary" (click)="createAccount()">Submit</button>
</form>
<div *ngIf="isAuth()" style="background: var(--bg-color); height: 100vh; width: 100vw; position: fixed; z-index: 99999; top: 0; right: 0; text-align: center">
    <h1 style="margin-top: 25vh; margin-bottom: 90px;"><mat-icon color="primary" style="font-size: 50px; width: 50px; height: 50px;">check_circle</mat-icon><br>Logged in!</h1>
    <h3 routerLink="/podcasts">Podcasts</h3>
    <h3 routerLink="/shorts">Shorts</h3>
    <h2>OR</h2>
    <h3 routerLink="/add">Create post</h3>

</div>
