.card-big {
    position: static!important;
    display: inline-block;
    border-radius: 12px;
    transition: 0.2s;
    margin: 20px;
    width: calc(50% - 40px);
    height: 20vw;
}
.card-big:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.collection {
    width: 100vw;
    height: 90vh;
    overflow-y: scroll;
    padding-left: 20px;
}
@media (max-width: 1100px) {
    .card-big {
        width: calc(100vw - 80px);
        height: 50vw;
    }
}
